<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBKjf69a9ePI2jiTpej5VNwQ_7-sMBv7s</string>
	<key>GCM_SENDER_ID</key>
	<string>668430278027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knkrmn.student-attendance-tracking</string>
	<key>PROJECT_ID</key>
	<string>student-attendance-track-fd68e</string>
	<key>STORAGE_BUCKET</key>
	<string>student-attendance-track-fd68e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668430278027:ios:49114fbbe438aa11b1a38e</string>
</dict>
</plist>